<%@finded_movies. each do |finded_movies|%>
<strong> <p><%= movie['title'] %></p> </strong>

<p><img src='http://cf2.imgobject.com/t/p/w200/<%=movie['poster_path']%>'></p> 


<ul>
<li><%=movie['movie_code']%></li>
<li><%=movie['movie_code']%></li>
<li><%=movie['movie_code']%></li>
<li><%=movie['movie_code']%></li>
<li><%=movie['movie_code']%></li>
<li><%=movie['movie_code']%></li>
</ul>

