<h1> finded movies<h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
     <div class = "field">
    <%= form_tag(finds_path, method: :get) do %>
      <%= label_tag(:movie_name, "Search for a movie:") %>
      <%= text_field_tag(:movie_name) %>
      <br>
      <%= submit_tag("Search!") %>
     <% end %> 
  </div>  
    </div>
    <div class="col-sm">
      <%= link_to "Home", root_path %>
    </div>


<% if @findedmovies.any?%>
<table>
<thead>
<tr>
<th> Title </th>
<th>movie poster</th>
<th>/delete movie</th>
</tr>
</thead>
<tbody>
<% @findedmovies.each do |movie| %>
<tr>
<td><%=movie['title']%></td>
<td><img src='http://image.tmdb.org/t/p/w185<%=movie['poster_path']%>' /></td>
<td><%= link_to "Remove from list", finded_movie_path(movie_code: movie['id']), method: :delete %></td>
</tr>
<% end %>
</tbody>
</table>
<%else%>
<p> there is no finded movies</p>
<%end%>




